/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css starts */
/* colours: #c78c06, #ffe6ac, #222 and white */


/*general*/
body {
    font-family:'Open Sans', sans-serif;
    font-size: xx-small;
    color: black;
    background-color: white;
}

.container {
    padding: 14px;
}

h2 {
    font-size: 47px;
    font-weight: 700;
}

h1 {
    font-size: xx-large;
    color: white;
    font-weight: 700;
    line-height: 1.5em;
}


/* nav */

nav .container {
    background-color: #222;
}

ul li {
    background-color: #222;
    text-align: center;
    padding: 12px;
}

.logo {
    background-color: #c78c06;
    padding-bottom: 25px;
}

ul a {
    color: #c78c06;
    text-decoration: none;
    
}
.home {
    background-color: #c78c06;
    color: #222;    
}

.search {
    display: table;
}
.search-bar {
    display: table-cell;
    width: 100%;
}
.search-bar-style {
    border: 1px solid #222;
    width: 100%;
    padding-left: 7px;
    font-size: 17px;
}

input#site-search {
    padding: 6px;
}

.search-button {
    display: table-cell;

}
.search-button button {
    border: 1px solid #c78c06;
    background-color: #222;
    color:#c78c06;
    font-size: 17px;
    padding: 5px;
}
/*welcome*/

.header-welcome {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 36px;
    padding-bottom: 36px;
    background-repeat: no-repeat;
}
.welcome-container {
    background-color: rgba(0,0,0,0.5);
    padding: 7px;
}

.section-button {
    background-color: #c78c06;
    text-decoration: none;
    color: black;
    display: block;
    padding: 18px;
    display:table;
    font-size: 17px;
}
.header-welcome p {
    color: white;
    padding-bottom: 8px;
}

/*about*/

.section-about .container {
    background-color: #ffe6ac;
}

.about-us-image img {
    max-width: 100%;    
}

/* desktop */

@media screen and (min-wdth: 760px) {
    
}
