/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my css starts */
/* colours: #c78c06, #ffe6ac, #222 and white */


/*general*/
body {
    font-family:'Open Sans', sans-serif;
    font-size: small;
    color: black;
    background-color: white;
}

.container {
    padding: 8px;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    padding-top: .5em;
    padding-bottom: .5em;
}

h3 {
    font-size: large;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h4 {
    font-size: x-small;
    font-weight: 700;
}

.description-section{
    background-color: #ffe6ac;
    padding-left: .5em;
    padding-bottom: .5em;
}

h1 {
    font-size: 3em;
    color: white;
    font-weight: 700;
    line-height: 1.5em;
}

p {
    font-size: xx-small;
    padding-bottom: 8px;
}

.section-button {
    background-color: #222;
    text-decoration: none;
    color: white;
    display: block;
    padding: 18px;
    display:table;
    font-size: small;
}

.image-fill {
    width: 100%;
}

hr {
    border-bottom: 1px solid #c78c06;
}

/* nav */

nav .container {
    background-color: #222;
}

ul li {
    background-color: #222;
    text-align: center;
    padding: 12px;
}

.logo {
    background-color: #c78c06;
    padding-bottom: 25px;
}

.logo img {
    width: auto;
}

ul a {
    color: #c78c06;
    text-decoration: none;
    
}
.home {
    background-color: #c78c06;
    color: #222;    
}

.search {
    display: table;
}
.search-bar {
    display: table-cell;
    width: 100%;
}
.search-bar-style {
    border: 1px solid #222;
    width: 100%;
    padding-left: 7px;
    font-size: small;
}

input#site-search {
    padding: 6px;
}

.search-button {
    display: table-cell;

}
.search-button button {
    border: 1px solid #c78c06;
    background-color: #222;
    color:#c78c06;
    font-size: small;
    padding: 5px;
}
/*welcome*/

.header-welcome {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 36px;
    padding-bottom: 36px;
    background-repeat: no-repeat;
}
.welcome-container {
    background-color: rgba(0,0,0,0.5);
    padding: 7px;
}

.welcome-button {
    background-color: #c78c06;
    text-decoration: none;
    color: black;
    display: block;
    padding: 18px;
    display:table;
    font-size: small;
}
.header-welcome p {
    color: white;
}

/*about*/

.section-about .container {
    background-color: #ffe6ac;
}


/* services */

.section-services .container {
    background-color: white;
}

/* vision */

.section-vision .container {
    background-image: url(../images/vision.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0.5em;
}

.vision-button {
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    color: white;
    border: 1px solid #c78c06;
    display: block;
    padding: 18px;
    display:table;
    font-size: small;
}

/* john */
.john-about {
    background-color: #ffe6ac;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 1em;
    margin-bottom: .7em;
}
/* bob */
.bob-about {
    background-color: #ffe6ac;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 1em;
}

/* contact */
.section-contact h3 {
    padding-top: 0;
}

label {
    font-size: xx-small;
}

input[type="text" i] {
    margin-top: .3em;
    width: 100%;
}

input[type="submit" i] {
    background-color: #222;
    border: 1px solid black;
    color: #c78c06;
    margin-top: 1em;
    font-size: x-small;
    padding-right: .2em;
    padding-left: .2em;
    margin-bottom: 1em;
}

textarea {
    width: 100%;
    height: 5em;
    margin-top: .3em;
}

.message-form form {
    padding-right: 8px;
}

/* hours */

.hours table {
    font-size: xx-small;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1em;
    padding-right: .5em;
}
.row-one {
    text-align: center;
    background-color: #ffe6ac;
}
td {
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 1em;
}

/*map*/

.location {
    width:100%; 
    max-width: 677px;
    height:100%; 
    margin:0 auto;
}
.map {position:relative; 
    padding-top: 56%;
}
.map iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%; 
    height:100%;
}

/* footer */

footer {
    color:#c78c06;
    font-size: xx-small;
}

footer .container {
    background-color: #222;
}

footer p {
    line-height: 2em;
}

/* desktop */

@media screen and (min-width: 760px) {
   /*general*/
   nav a:link {
    background-color: #222;
    color: #c78c06;
   }
   nav a:hover {
    background-color: #c78c06;
    color: #222;
   }

   p {
    line-height: 1.5em;
   }
   section-button {

   }
    /*nav*/
    .container {
        min-width: 100vw;
        max-width:1200px;
        padding-left: 8.5%;
        padding-right: 8.5%;
    }

    nav .container {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    ul {
        display: table;
    }

    li {
        display: table-cell;
        width: 7em;
    }
    .logo {
        background-color: #222;
        float: left;

    }

    .search-bar-style {
        width: 9em;
    }

    /* welcome */
    .header-welcome {
        min-width: 100vw;
        padding: 5em;
    }

    .welcome-button {
        padding: 2em;
    }

    h1 {
        font-size: 414%;
    }

    /*sections*/

    .about-us {
        padding: .5em;
    }

    .section-flex {
        display: flex;

    }

    .dig-trans {
        padding-right: 0.5em;
    }

    .marketing {
        padding-right: 0.5em;
    }

    .vid-prod {
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    .web-dev {
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    .print {
        padding-right: 0.5em;
        padding-top: 0.5em;
    }

    /* team */

    .grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        'john-photo john-about'
        'bob-about bob-photo' 
        ;
    }

    .bob-about {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .john-about {
        margin-bottom: 0;
    }

    /*contact*/
    
    .section-contact h2 {
        padding-top: 1em;
        padding-bottom: 1.5em;
    }

    .contact-grid {
        display:grid;
    }

    .message-form {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    .location {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    .hours {

        grid-column: 1 / span 2;
    }

    .hours h3 {
        padding-top: 1em;
    }

    .message-form form {
        padding-right: 1.5em;
    }







    
}
